@model Bank.WebUI.Models.TransferModel

@{
    ViewBag.Title = "Transfer";
}

<h2>Transfer</h2>
<h3>Twój stan konta to: @ViewBag.balance</h3>
@using (Html.BeginForm())
{
    <div>
        <label>Kwota do wypłacenia: </label>
        @Html.TextBoxFor(x => x.amount)
    </div>
    <div>
        <label>Odbiorca</label>
        @Html.TextBoxFor(x => x.recesiver)
    </div>
    <input type="submit" value="Wypłać" />
    @Html.ActionLink("Anuluj", "Index", "Account")
}

