@model Bank.WebUI.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    <div>
        <label>Twoje stare hasło: </label>
        @Html.TextBoxFor(x => x.OldPass)
    </div>
    <div>
        <label>Twoje nowe hasło</label>
        @Html.TextBoxFor(x => x.NewPass)
    </div>
    <input type="submit" value="Zmień hasło" />
    @Html.ActionLink("Anuluj", "Index", "Account")
}

