@model Bank.WebUI.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<div class="col-centered">
    <div class="panel">
        <div class="panel-heading">
            <h2>Zmiana hasła</h2>
        </div>
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            <div class="panel-body">
                <div class="form-group">
                    <label>Twoje stare hasło: </label>
                    @Html.PasswordFor(x => x.OldPass, new { @class = "form-control" })
                    <label>Twoje nowe hasło:  </label>
                    @Html.PasswordFor(x => x.NewPass, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Zmień hasło" class="btn btn-primary" />
                <input type="button" value="Anuluj" onclick="location.href='@Url.Action("Index","Account")'" class="btn btn-default" />
            </div>
        }
    </div>
</div>
