@model IEnumerable<Bank.Domain.Entities.Transaction>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>

@foreach (var t in Model)
{
    <div>
        <h3>@t.Amount.ToString("c")</h3>
    </div>
}
