@using Bank.Domain.Entities
@model BankAccount
@{
    ViewBag.Title = "Index";
}

<div>
    <div>
        User Accounts
    </div>
    <div>
        Your name: @Model.FirstName
    </div>
</div>
@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
@Html.ActionLink("History", "History", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Wypłać środki", "Withdraw", "Operiation")


