@using Bank.Domain.Entities
@model BankAccount
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="text-center">
        <h2>Witaj @Model.FirstName!</h2>
        <h3>Stan twojego konta to: @Model.Balance.ToString("c")</h3>
        <h3>Numer twojego konta to: @Model.Id</h3>
    </div>
</div>

