@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Stylesheet/Center.css" rel="stylesheet"/>
    <link href="~/Stylesheet/NoColor.css" rel="stylesheet"/>
    <title>Logowanie</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../Account/Login"><span class="glyphicon glyphicon-euro"></span> Nasz Super Bank!</a>
        </div>
    </div>
</nav>
<div class="col-centered">
    @RenderBody()
</div>
</body>
</html>